.root{
	-fx-font-family:"Arial";
	
}

.shadow{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 6, 0, 0, 0);
}


/*settings*/
.settingsButton{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
	-fx-background-color:rgb(255,255,255);
	-fx-text-fill:rgb(20,20,20);
}
.settingsButton:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 0, 0, 0, 0);
}
.settingsButton  .list-cell{
	-fx-text-fill:rgb(20,20,20);
}



.sideMenu{
	-fx-background-color:rgb(40,40,40);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 8, 0, 0, 0);
	
}
.userInfo{
	-fx-background-color:rgb(40,40,40);
	-fx-text-fill:rgb(255,255,255);
	-fx-font-size: 16px;
	
}

.sideButton{
	-fx-background-color:rgb(90,90,90);
	-fx-text-fill:rgb(255,255,255);
}

.loginButton{
	-fx-background-color:rgb(90,90,90);
	-fx-text-fill:rgb(255,255,255);
	-fx-font-size: 20px;
}

.sideButton:hover{
	-fx-background-color:rgb(40,40,40);
	-fx-text-fill:rgb(225,225,225);
	
}

.upper{
	-fx-background-color:rgb(40,40,40);
	-fx-text-fill:rgb(255,255,255);
	-fx-font-size: 16px;
	-fx-alignment: center; 
}

.middle{
	-fx-background-color:rgb(40,40,40);
	-fx-alignment: top-center; 
}

.lower{
	-fx-background-color:rgb(40,40,40);
	
}


.searchMenu{
	-fx-background-color: black;
	-fx-padding-right:50px;
	
}
.center{
	
	-fx-background-color:rgb(245,245,245);
	-fx-alignment: center;
	
}
.loginCenter{
	-fx-padding-top:100px;
	
	-fx-alignment: center;
	
}

.loginTop{
	
	
	-fx-alignment: center;
	
}
.loginBottom{
	


	
	-fx-alignment: bottom-center;
	
}

.topMenu{
	-fx-background-color:rgb(240,240,240);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0, 0, 0);
}


.exploreBlogg{
	
	-fx-text-fill:white;
	-fx-alignment: center; 
	
	-fx-background-color:rgb(255,255,255);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0, 0, 0);
	
	
}
.exploreBlogg:hover{
	
	-fx-text-fill:white;
	-fx-alignment: center; 
	
	-fx-background-color:rgb(220,220,220);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 8, 0, 0, 0);
	
	
}


.rightBlogg{
	
	-fx-text-fill:white;
	-fx-alignment: center; 
	-fx-border-style: hidden dashed dashed dashed;
  	-fx-border-color: red red red red;
  	-fx-border-width: 2;
	
	
}

.leftBloggText{
	
	-fx-text-fill:black;
	-fx-alignment: center; 
	
	
}

.rightBloggText{
	-fx-text-fill:black;
	-fx-alignment: center; 
	
}

.refreshField{
	-fx-background-color:black;
	-fx-alignment: center;
}

.post{
	-fx-background-color:rgb(255,255,255);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0, 0, 0);
	
	-fx-text-fill:white;
	/*-fx-alignment: center; */
	/*-fx-border-style: hidden hidden dashed hidden;
  	-fx-border-color: red red red red;
  	-fx-border-width: 2;*/
	
}
.postTitle{
	-fx-text-fill:rgb(0,0,0);
	-fx-font-size: 28px;
}
.postInnerTitle{
	-fx-text-fill:rgb(0,0,0);
	-fx-font-size: 24px;
}

.addField{
	-fx-alignment: center; 
	-fx-border-style: dashed dashed dashed dashed;
  	-fx-border-color: grey grey grey grey;
  	-fx-border-width: 2;
}

.addContent{
	-fx-alignment: center; 
	
}

.noResult{
	-fx-alignment: center; 
	-fx-font-size: 28px;
	

}

.hashtag{
	-fx-background-color: transparent;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-text-fill:rgb(80,140,240);
}

.likes{
	
	-fx-alignment: baseline-right; 
}

.bloggTitle{
	-fx-background-color:rgb(240,240,240);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0, 0, 0);
}

.topButton{
	-fx-background-color:rgb(150,150,150);
	-fx-text-fill:rgb(255,255,255);
}


.topButton:hover{
	-fx-background-color:rgb(40,40,40);
	-fx-text-fill:rgb(225,225,225);
	
}
.found{
	-fx-font-weight: bold;
	-fx-background-color:red;
	-fx-font-size: 25px;
}







